<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">
	
	<body>
		<main>
			<div class="container">
		        <h3>Teste de Capital Fixo</h3>
				<br>
		        <form th:action="@{../../capitalFixo/cadastroTeste}" th:object="${newCapitalFixo}" method="post">
		            <div class="form-group">
		                <label for="id">Id:</label>
		                <input type="text" id="id" class="form-control" th:field="*{id}" readonly>
		                <label for="valorBemNovo">Valor Bem Novo:</label>
		                <input type="text" id="valorBemNovo" class="form-control" th:field="*{valorBemNovo}" required>
		                <label for="taxaPoupanca">Taxa da Poupança:</label>
		                <input type="text" id="taxaPoupanca" class="form-control" th:field="*{taxaPoupanca}" required>
		                <label for="vidaHoras">Vida útil em Horas:</label>
		                <input type="number" id="vidaHoras" class="form-control" th:field="*{vidaHoras}" required>
		                <label for="vidaAnos">Vida útil em Anos:</label>
		                <input type="number" id="vidaAnos" class="form-control" th:field="*{vidaAnos}" required>
		                <label for="horasTrabalhadas">Horas Trabalhadas:</label>
		                <input type="number" id="horasTrabalhadas" class="form-control" th:field="*{horasTrabalhadas}" required>
		            </div>
		            <br>
		            <button type="submit" class="btn btn-success">Salvar</button>
		            <a th:href="@{/capitalFixo}" class="btn btn-danger">Cancelar</a>
		        </form>
		    </div>
		</main>
	</body>
</html>