<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">

<body>
	<main>
		<div class="container">
			<h3 class="mt-5 mb-4">Lista de Custos Fixos</h3>
			<br>
			<a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalCriacaoCustoFixo">Novo
				Custo Fixo</a>
			<br>
			<br>
			<div class="modal fade" id="modalCriacaoCustoFixo" tabindex="-1"
				aria-labelledby="modalCriacaoCustoFixoLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalCriacaoCustoFixoLabel">Cadastro de Custo Fixo</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<form action="custoFixo/cadastro" th:object="${newCustoFixo}" method="POST">
							<div class="modal-body">
								<div class="form-group">
									<label for="nome">Nome do Custo Fixo</label>
									<input type="text" id="nome" name="nome" class="form-control" required>
								</div>
								<div class="form-group">
									<label for="propriedade">Propriedade</label>
									<select id="propriedade" th:field="*{propriedade}" class="form-control">
										<option value="">Selecione a propriedade</option>
										<option th:each="pr : ${listaPropriedades}" th:value="${pr.id}"
											th:text="${pr.nome}"></option>
									</select>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-sm btn-success"><i class="bi bi-floppy"></i>
									Salvar</button>
								<button type="reset" class="btn btn-sm btn-warning text-light"><i
										class="bi bi-trash3-fill"></i>
									Limpar</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="px-4">Nome</th>
							<th class="px-4">Propriedade</th>
							<th class="px-4">Operações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="custoFixo : ${listaCustosFixos}">
							<td th:text="${custoFixo.nome}" class="px-4"></td>
							<td th:text="${custoFixo.propriedade.nome}" class="px-4"></td>
							<td class="px-4">
								<a th:href="@{custoFixo/alterar/{id}(id=${custoFixo.id})}"
									class="btn btn-primary">Alterar</a>
								<a th:href="@{custoFixo/excluir/{id}(id=${custoFixo.id})}"
									class="btn btn-danger">Deletar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
</body>

</html>