<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">
		
	<body>
	<main>
	
	<div class="modal fade" id="modalCriacao" tabindex="-1" aria-labelledby="modalCriacaoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCriacaoLabel">Cadastro Outras Despesas de Insumo e Serviço</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalCriacao-body">
                </div>
            </div>
        </div>
    </div>
    
	<div class="container mt-3 py-3">    
		<div class="form-horizontal">
			<div class="table-responsive">
				<table class="table">
					<thead>
						<th>Insumo ou serviço</th>
						<th>Nota Fiscal</th>
						<th>Valor</th>
						<th>Porcentagem de utilização</th>
					</thead>
			
					<tbody>
						<th:block th:each="despesa: ${despesas}">
						<tr>
						<td th:text="${despesa.descricao}"></td>	
						<td th:text="${despesa.notaFiscal}"></td>
						<td th:text="${despesa.valor}"></td>
						<td th:text="${despesa.porcUtilizacao}"></td>
						<td>
                        <a class="btn-options" th:onclick="|atualizaModal('despesa_insumo_servico/modal', 'modalCriacao', {'id': ${despesa.id}})|">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a th:method="delete"
                            th:onclick="|deleteItem(${despesa.id})|"
                            class="btn-options"><i class="bi bi-trash3-fill"></i></a>
                    	</td>
						
						</tr>
						</th:block>
						
					</tbody>
				</table>
			</div>
		</div>

		
		
		<div class="row justify-content-start align-items-top d-flex pt-3">
			<div th:replace="~{fragments/Paginacao :: paginacao}"></div>
            <div class="col col-auto ml-auto">
                <button type="button" class="btn btn-success" id="botaoModal" data-bs-toggle="modal" data-bs-target="#modalCriacao" onclick="atualizaModal('despesa_insumo_servico/modal', 'modalCriacao')">
                    Nova Despesa
                </button>
            </div>
        </div>
    </div>
    </div>
    </main>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	</body>
