<form th:object="${custoFixo}" action="custoFixo/cadastro" method="POST" id="formCadastro">
    <div class="row my-2">
        <div class="col col-2 text-end">
            Nome *
        </div>
        <div class="col col-3">
            <input th:field="*{nome}" type="text" class="form-control form-control-sm">
        </div>
	    <div class="row my-2">
	        <div class="col col-5 text-end">
	            <input type="hidden" th:field="*{id}">
	        </div>
	    </div>
    </div>
    <button type="submit" class="btn btn-sm btn-success"><i class="bi bi-floppy"></i>
        Salvar</button>
    <button type="reset" class="btn btn-sm btn-warning text-light"><i class="bi bi-trash3-fill"></i>
        Limpar</button>
</form>