<form action="despesa/cadastro" th:object="${despesaCustoFixo}" method="POST" id="formCadastro">
	<div class="modal-body">
		<div class="form-group">
			<label for="mesAno">Mês/Ano</label>
			<input type="date" id="mesAno" name="mesAno" class="form-control" required>
		</div>
		<div class="form-group">
			<label for="custoFixo">Custo Fixo</label>
			<select id="custoFixo" th:field="*{custoFixo}" class="form-control">
				<option value="">Selecione o custo fixo</option>
				<option th:each="cf : ${listaCustosFixos}" th:value="${cf.id}"
					th:text="${cf.nome}"></option>
			</select>
		</div>
		<div class="form-group">
			<label for="valor">Valor</label>
			<input type="number" id="valor" name="valor" class="form-control" required>
		</div>
		<div class="form-group">
			<label for="porcentagemUtilizacao">Porcentagem de utilização</label>
			<input type="number" id="porcentagemUtilizacao" name="porcentagemUtilizacao" class="form-control" required>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-sm btn-success"><i class="bi bi-floppy"></i>
			Salvar</button>
		<button type="reset" class="btn btn-sm btn-warning text-light"><i
				class="bi bi-trash3-fill"></i>
			Limpar</button>
	</div>
</form>