<form th:object="${despesaFertilizante}" action="LancarDespesaFertilizante" method="POST" id="formCadastro">
    <div class="row my-2">
        <div class="col col-2 text-end">
            Data *
        </div>
        <div class="col col-3">
            <input th:field="*{mesAno}" type="date" class="form-control form-control-sm">
        </div>
        <div class="col col-3 text-end">
            Fertilizante *
        </div>
        <div class="col col-4">
            <!--<td th:text="${despesa.mesAno}"></td>
                <td th:text="${despesa.fertilizante.nome}"></td>
                <td th:text="${despesa.quantidade}"></td>
                <td th:text="${despesa.valorDespesa}"></td>
                <td th:text="${despesa.notaFiscal.numero}"></td> -->
            <select th:field="*{fertilizante}" class="form-control form-control-sm">
                <option th:each="fertilizante : ${fertilizantes}" th:text="${fertilizante.nome}" th:value="${fertilizante.id}">
                </option>
            </select>
        </div>
    </div>
    <div class="row my-2">
        <div class="col col-2 text-end">
            Quantidade
        </div>
        <div class="col col-3">
            <input th:field="*{quantidade}" type="text" class="form-control form-control-sm" placeholder="">
        </div>
        <div class="col col-3 text-end">
            Valor
        </div>
        <div class="col col-4">
            <input th:field="*{valorDespesa}" type="text" class="form-control form-control-sm" placeholder="">
        </div>
    </div>
    <div class="row my-2">
        <div class="col col-2 text-end">
            Nota Fiscal
        </div>
        <div class="col col-3">
            <!-- <input th:field="*{horasTrabalhadas}" type="number" class="form-control form-control-sm"> -->
            <input type="text" class="form-control form-control-sm">
        </div>
        <div class="col col-2">
            <button type="button" class="btn btn-secondary btn-sm">&plus; Nova NF</button>
        </div>
        <div class="col col-5 text-end">
            <input type="hidden" th:field="*{id}">
        </div>
    </div>
    </div>
    <button type="submit" class="btn btn-sm btn-success"><i class="bi bi-floppy"></i>
        Salvar</button>
    <button type="reset" class="btn btn-sm btn-warning text-light"><i class="bi bi-trash3-fill"></i>
        Limpar</button>
</form>