<form action="custoFixo/cadastro" th:object="${custoFixo}" method="POST">
	<div class="modal-body">
		<div class="form-group">
			<label for="nome">Nome do Custo Fixo</label>
			<input type="text" id="nome" name="nome" class="form-control" required>
		</div>
		<div class="form-group">
			<label for="propriedade">Propriedade</label>
			<select id="propriedade" th:field="*{propriedade}" class="form-control">
				<option value="">Selecione a propriedade</option>
				<option th:each="pr : ${listaPropriedades}" th:value="${pr.id}"
					th:text="${pr.nome}"></option>
			</select>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-sm btn-success"><i class="bi bi-floppy"></i>
			Salvar</button>
		<button type="reset" class="btn btn-sm btn-warning text-light"><i
				class="bi bi-trash3-fill"></i>
			Limpar</button>
	</div>
</form>