<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">

<body>    
<main>
	<div class="row">
                 <div class="col-lg-10 mx-auto mb-4">
                    <div class="section-title text-center ">
                        <h3 class="top-c-sep">Renda de Fatores</h3>
                        <p>Renda proveniente de fatores fixos, considerada como a compensação antecipada pelo uso do capital fixo e da terra.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="career-search mb-60">
                        <div class="filter-result">
                            <div class="job-box d-md-flex align-items-center justify-content-between mb-30 border-bottom">
                                <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
         
                                <div class="job-content">
                                     <h5 class="text-center text-md-left">Capital Fixo</h5>
                                </div>
                                </div>
                                <div class="job-right my-4 flex-shrink-0">
                                    <a href="/capitalFixo" class="btn d-block w-100 d-sm-inline-block btn-success">Acessar</a>
                                </div>     
                			</div>
                			
                			<div class="job-box d-md-flex align-items-center justify-content-between mb-30 border-bottom">
                                <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
         
                                <div class="job-content">
                                     <h5 class="text-center text-md-left">Cultivo</h5>
                                </div>
                                </div>
                                <div class="job-right my-4 flex-shrink-0">
                                    <a href="/capitalFixo" class="btn d-block w-100 d-sm-inline-block btn-success">Acessar</a>
                                </div>     
                			</div>
                			
                			<div class="job-box d-md-flex align-items-center justify-content-between mb-30 border-bottom">
                                <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
         
                                <div class="job-content">
                                     <h5 class="text-center text-md-left">Terra Própria</h5>
                                </div>
                                </div>
                                <div class="job-right my-4 flex-shrink-0">
                                    <a href="/capitalFixo" class="btn d-block w-100 d-sm-inline-block btn-success">Acessar</a>
                                </div>     
                			</div>
                			
            </div>
        </div>
</main>
</body>
