<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">

<body>    
<main>
	<div class="container">
        <h3>Renda de Fatores: Terra Propria</h3>
         	
    </div>
    </br></br>
    
    <div class="modal fade" id="modalCriacao" tabindex="-1" aria-labelledby="modalCriacaoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCriacaoLabel">Testar Terra Própria</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalCriacao-body">
                </div>
            </div>
        </div>
    </div>
    
    <div class="container">
    <table class="table text-center" border="1">
            <thead>
                <tr class="fw-bold">
                    <td>Valor Terra Nua</td>
                    <td>Taxa de Poupança</td>
                    <td>Safra</td>
                    <td>Percentual de Terra Própria</td>
                    <td>Remuneração Esperada</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="terraPropria : ${listaTerras}">
                    <td th:text="${terraPropria.valorTerraNua}"></td>
                    <td th:text="${terraPropria.taxaPoupanca}"></td>
                    <td th:text="${terraPropria.safrasAnos}"></td>
                    <td th:text="${terraPropria.percTerraPropria}"></td>
                    <td th:text="${terraPropria.remuneracao}"></td>
                    <td>
                        <a class="btn-options" th:onclick="|atualizaModal('terraPropria/modal', 'modalCriacao', {'id': ${terraPropria.id}})|">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a th:method="delete"
                            th:href="@{terraPropria/excluir/{id}(id=${terraPropria.id})}"
                            class="btn-options"><i class="bi bi-trash3-fill"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row justify-content-start align-items-top d-flex pt-3">
        <div th:replace="~{fragments/Paginacao :: paginacao}"></div>
            <div class="col col-auto ml-auto">
               <button type="button" class="btn btn-success" id="botaoModal" data-bs-toggle="modal" data-bs-target="#modalCriacao" onclick="atualizaModal('terraPropria/modal', 'modalCriacao')">
                    Lançar Terra Própria
                </button>
        </div>
    </div>
    </div>
    
    <div class="container mb-5">
        <div class="row my-2 justify-content-center">
            <div class="col col-auto">
                <button class="btn btn-sm btn-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">Mais
                    informações</button>
            </div>
        </div>
        <div class="collapse border" id="collapseInfo">
            <div class="row my-4 justify-content-center text-center">
                <p>Terra Própria: considera-se que a taxa de remuneração da terra é metade da taxa de
rendimento anual da poupança, incidindo sobre o preço modal praticado na região pela venda
de 1 hectare de terra, desprovida de benfeitorias e instalações, própria para o cultivo em
questão. O resultado é então multiplicado pela porcentagem, levantada em painel, da área
produtiva localizada em terras próprias (não arrendadas) e dividido pelo número de safras
realizadas durante o ano na região de abrangência do custo de produção. A fórmula da
remuneração do fator terra é apresenta na fórmula a seguir:
                </p>
                <h5>Terra própria (R$/ha) =
(Valor terra nua (R$/ha) x (taxa poupança anual (%) / 2) x Percentual Terra própria (%)
 Safras por ano
                </h5>
            </div>
        </div>
    </div>
    
    
</main>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>