<!DOCTYPE html>
<html lang="pt-br">

<head>
	<div th:replace="~{fragments/Include :: include}"></div>
	<style>
		.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
		.card{
  			width: 50%;
  			height: 40%;
		}
		.btn-success{
			background-color: #82975d !important;
		}
		.bg-success{
			background-color: #82975d !important;
		}
		.btn-warning{
            background-color: #f0ad4e !important;
        }
	</style>
</head>

<body class="register">
	<div class="container">
		<div class="card">
			<div class="card-header bg-success text-white text-center">
				<h4><b>Propriedade</b></h4>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-3 text-center">
						<img class="prop" th:src="@{/images/cafe.png}" />
					</div>
					<div class="col-1"></div>
					<div class="col-8">
                        <form action="/login/propriedade" method="post">
                            <label for="propriedade"><b>Selecione a propriedade que irá usar:</b></label>
							<select class="form-control" name="propriedadeId">
                                <option th:each="propriedade : ${propriedades}" th:text="${propriedade.id + ' - ' + propriedade.nome}" th:value="${propriedade.id}"></option>
                            </select>
                            <br>
                            <div class="botoes-login" align="center">
								<input type="submit" class="btn btn-success" value="Confirmar">
							</div>
                        </form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>