<!DOCTYPE html:5>

<head>
	<div th:replace="~{fragments/Include :: include}"></div>
	<style>
		.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
		.card {
  			width: 50%;
		}
		.btn-success{
			background-color: #82975d !important;
		}
		.bg-success{
			background-color: #82975d !important;
		}
		.btn-warning{
            background-color: #f0ad4e !important;
        }
	</style>
</head>

<body class="register">
	<div class="container">
		<div class="card">
			<div class="card-header bg-success text-white text-center">
				<h4><b>Criar Conta</b></h4>
			</div>
			<div class="card-body">
				<form action="/registrar" method="POST" th:object="${usuario}">
					<label for="nome"><b>Nome:</b></label>
					<input th:field="*{nome}" type="text" name="nome" id="Nome" class="form-control"
						placeholder="Digite seu nome" required>
					<br>

					<label for="login"><b>E-mail:</b></label>
					<input th:field="*{login}" type="email" name="login" id="Email" class="form-control"
						placeholder="Digite um E-mail" required>
					<br>

					<label th:field="*{password}" for="password"><b>Senha:</b></label>
					<input type="password" name="password" id="Senha" class="form-control"
						placeholder="Digite uma Senha" required>
					<br>

					<label for="role"><b>Grupo:</b></label>
					<select th:field="*{role}" name="role" id="Role" class="form-control" required>
						<option th:each="role, rStat : ${T(com.epcafes.enums.UsuarioRole).values()}" th:text="${role}"
							th:value="${role}" th:unless="${rStat.first} and ${!#strings.contains(#authentication.principal.authorities, 'ADMIN')}">
						</option>
					</select>
					<br>

					<p align="center">
						<input type="submit" class="btn btn-success" value="Cadastrar">
						<a href="/epcafes"><input type="button" class="btn btn-warning text-white" value="Voltar"></a>
					</p>
				</form>
			</div>
			<div class="row">	
				<div class="col-1"></div>
				<div class="col-10">
					<div th:if="${param.error}" class="alert alert-danger erro text-center" role="alert">
						Endereço de e-mail já cadastrado. <br><b>Tente novamente com outro endereço.</b>
					</div>
					<div th:if="${param.success}" class="alert alert-success erro text-center" role="alert">
						Usuário cadastrado com sucesso.<br>
						Cadastre outro usuário ou <a class="alert-link" href="/epcafes">retorne ao menu principal.</a>
					</div>
				</div>
				<div class="col-1"></div>
			</div>
		</div>
	</div>
</body>

</html>