<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">

<body>
    <main>
        <div th:switch="${usuariosLogados}" class="container mt-3 py-3">
            <div th:case="null" class="row">
                <div class="col text-center">
                    <h3>Não há usuários logados!</h3>
                </div>
            </div>
            <div th:case="*">
                <div class="row">
                    <div class="col text-center">
                        <h2>Usuários Logados</h2>
                    </div>
                </div>
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Último Acesso</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Tenant</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario : ${usuariosLogados}">
                            <td th:text="${usuario.codigo}"></td>
                            <td th:text="${usuario.ultimoAcesso}"></td>
                            <td th:text="${usuario.nome}"></td>
                            <td th:text="${usuario.email}"></td>
                            <td th:text="${usuario.usuarioRole}"></td>
                            <td th:text="${usuario.nomeTenant}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>

</html>