<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">
<body>
    <main>
        <div th:switch="${usuariosLogados}">
            <h2 th:case="null">Não há usuários logados!</h2>
            <div th:case="*">
                <h2>Usuários Logados</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Último Acesso</th>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario : ${usuariosLogados}">
                            <td th:text="${usuario.ultimoAcesso}"></td>
                            <td th:text="${usuario.id}"></td>
                            <td th:text="${usuario.nome}"></td>
                            <td th:text="${usuario.email}"></td>
                            <td th:text="${usuario.usuarioRole}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>

</html>