<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">

<body>    
<main>

    <div class="container">
        <h3 class="titulo-pagina">Pesquisa de Instalação</h3>
    </div>

    <div class="modal fade" id="modalCriacao" tabindex="-1" aria-labelledby="modalCriacaoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalCriacaoLabel">Nova Instalação</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="modalCriacao-body">
					
                </div>
            </div>
        </div>
    </div>
	
    <div class="container mt-3 py-3">        
        <table class="table text-center">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nome</td>
                    <td>Valor (R$)</td>
                    <td>Vida útil (anos)</td>
                    <td>Valor residual (%)</td>
                    <td>Propriedade</td>
                    <td>Operações</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="instalacao : ${instalacoes}">
                    <td th:text="${instalacao.id}"></td>
                    <td th:text="${instalacao.nome}"></td>
                    <td th:text="${instalacao.valor}"></td>
                    <td th:text="${instalacao.vidaUtilAnos}"></td>
                    <td th:text="${instalacao.valorResidual}"></td>
                    <td th:text="${instalacao.propriedade.nome}"></td>
                    <td>
                        <a class="btn-options" th:onclick="|atualizaModal('CadastroInstalacao/modal', 'modalCriacao', {'id': ${instalacao.id}})|">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <a th:method="delete"
                            th:href="@{/CadastroInstalacao/delete/{id}(id=${instalacao.id})}"
                            class="btn-options"><i class="bi bi-trash3-fill"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row justify-content-start align-items-top d-flex pt-3">
            <div class="col col-auto">
                <nav th:if="${qtdPaginas > 1}">
                    <ul class="pagination">
                        <li class="page-item"><a
                                th:class="${currPage == 1} ? 'page-link user-select-none disabled' : 'page-link user-select-none' "
                                th:href="@{/CadastroInstalacao(size=${size}, page=${currPage-1})}"><</a>
                        </li>
                        <li th:each="pageNumber : ${pageNumbers}" class="page-item"><a
                                th:href="@{/CadastroInstalacao(size=${size}, page=${pageNumber})}"
                                th:text=${pageNumber}
                                th:class="${pageNumber == currPage} ? 'page-link user-select-none active' : 'page-link user-select-none'"
                                href="#"></a></li>
                        <li class="page-item"><a
                                th:class="${qtdPaginas == currPage} ? 'page-link user-select-none disabled' : 'page-link user-select-none'"
                                th:href="@{/CadastroInstalacao(size=${size}, page=${currPage+1})}">></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col col-auto">
                <small class="d-inline">Mostrar:</small>
            </div>
            <div class="col col-auto">
                <form>
                    <select class="form-select form-select-sm" id="size" name="size" onchange="submit()">
                        <option th:each="qtdPorPagina : ${qtdPorPaginaList}" th:value="${qtdPorPagina}"
                            th:text="${qtdPorPagina}" th:selected="${size == qtdPorPagina}"></option>
                    </select>
                </form>
            </div>
            <div class="col col-auto ml-auto">
                <button type="button" class="btn btn-success" id="botaoModal" data-bs-toggle="modal" data-bs-target="#modalCriacao" onclick="atualizaModal('CadastroInstalacao/modal', 'modalCriacao')">
                    Novo cadastro
                </button>
            </div>
        </div>
    </div>
    
    <div class="container mb-5">
        <div class="row my-2 justify-content-center">
            <div class="col col-auto">
                <button class="btn btn-sm btn-success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">Mais
                    informações</button>
            </div>
        </div>
        <div class="collapse border" id="collapseInfo">
            <div class="row my-4 justify-content-center text-center">
                <img src="images/tabela_instalacao.png" alt="" class="img-fluid rounded-top" style="width: 75vw;">
                <small>
					<a href="https://www.conab.gov.br/images/arquivos/informacoes_agricolas/metodologia_custo_producao.pdf">https://www.conab.gov.br/images/arquivos/informacoes_agricolas/metodologia_custo_producao.pdf</a>
				</small>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>

</html>