<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">
<body>
	<main>
		<div class="row justify-content-around mt-5 d-flex">
			<div class="card col-md-5">
				<form action="/talhao/adicionar" method="POST" class="card-body">
					<h3 class="col-md-12 text-center mb-5">Adicionar novo Talhão</h3>
	
					<div class="row mb-3">
						<div class="col-md-6">
							<label for="nome">Nome</label> <input type="text"
								class="form-control" name="nome" id="nome" placeholder="Talhao 1">
						</div>
						<div class="col-md-6">
							<label for="area">Area</label> <input type="text"
								class="form-control" name="area" id="area" placeholder="5.5">
						</div>
						<div class="col-md-6">
							<label for="tenant_id">Tenant Id</label> <input type="number"
								class="form-control" name="tenant_id" id="tenant_id"
								placeholder="id">
						</div>
					</div>
					<div class="d-flex justify-content-end">
						<a th:href="@{/talhao}" class="btn btn-secondary">Voltar</a>
						<button type="submit" class="btn btn-success">Enviar</button>
					</div>
				</form>
			</div>
		</div>
	</main>
</body>
	
</html>