<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">


<body>
	<main>
		<div class="body">

			<form action="/restricted/cadastro/cadastroInsumos" method="POST">

				<div class="mb-3">
					<label for="opcao">Selecione uma opção:</label>
					<select id="opcao" name="tipoInsumo">
						<option th:each="opcao : ${opcoesInsumos}" th:value="${opcao}"
							th:text="${opcao.tipoInsumoCode}"></option>
					</select>
				</div>

				<div class="mb-3" id="opcMaq">
					<label for="opcaoMaquina">Selecione uma opção:</label>
					<select id="opcaoMaquina" name="tipo">
						<option th:each="opcaoMaquina : ${opcoesMaquinas}" th:value="${opcaoMaquina}"
							th:text="${opcaoMaquina}"></option>
					</select>
				</div>

				<div class="mb-3" id="opcImpl">
					<label for="opcaoImplemento">Selecione uma opção:</label>
					<select id="opcaoImplemento" name="tipo">
						<option th:each="opcaoImplemento : ${opcoesImplementos}" th:value="${opcaoImplemento}"
							th:text="${opcaoImplemento}"></option>
					</select>
				</div>



				<div class="mb-3">
					<label for="potencia" class="form-label">Potência</label>
					<input type="number" class="form-control" id="potencia" name="potencia">

				</div>

				<div class="mb-3">
					<label for="opcaoCombustivel">Selecione uma opção:</label>
					<select id="opcaoCombustivel" name="TipoCombustivel">
						<option th:each="opcaoCombustivel : ${opcoesCombustivel}" th:value="${opcaoCombustivel}"
							th:text="${opcaoCombustivel.tipoCombustivelCode}"></option>
					</select>
				</div>

				<div class="mb-3">
					<label for="nome" class="form-label">Nome</label>
					<input type="text" class="form-control" id="nome" name="nome">
				</div>

				<div class="mb-3">
					<label for="modelo" class="form-label">Modelo</label>
					<input type="text" class="form-control" id="modelo" name="modelo">
				</div>

				<div class="mb-3">
					<label for="valorDoBem" class="form-label">Valor do Bem</label>
					<input type="number" class="form-control" id="valorDoBem" name="valor">
				</div>

				<div class="mb-3">
					<label for="dataDaCompra" class="form-label">Data da Compra</label>
					<input type="date" class="form-control" id="dataDaCompra" name="dataCompra">
				</div>

				<div class="mb-3">
					<label for="vidaUtil" class="form-label">Vida Util</label>
					<input type="number" class="form-control" id="vidaUtil" name="vidaUtil">
				</div>


				<div class="mb-3 form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Check me out</label>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
		<script>
			$(document).ready(function () {
				var opcaoSelect = $('#opcao');
				var opcaoMaquinaSelect = $('#opcMaq');
				var opcaoImplementoSelect = $('#opcImpl');

				function verificarSelecao() {
					var opcaoSelecionada = opcaoSelect.val();

					if (opcaoSelecionada === "MAQUINA") {

						opcaoMaquinaSelect.show().prop('disabled', false);
						opcaoImplementoSelect.hide().prop('disabled', true);
					} if (opcaoSelecionada == "IMPLEMENTO") {

						opcaoMaquinaSelect.hide().prop('disabled', true);
						opcaoImplementoSelect.show().prop('disabled', false);
					}
				}

				verificarSelecao();

				opcaoSelect.on('change', verificarSelecao);
			});
		</script>

</body>

</html>