
<body>

  <main>
    <div class="formulario">
      <form class="form" method="post" action="/funcionario">
        <input type="hidden" name="_method" value="put" th:if="${funcionario != null}">
        <input type="hidden" name="id" th:value="${funcionario?.id}">
        <div>
          <label for="nome">Nome* </label>
          <input class="form-control" type="text" id="nome" name="nome" required th:value="${funcionario?.nome}">
        </div>

        <div>
          <label for="salario">Salário* </label>
          <input class="form-control" type="number" id="salario" name="salario" required th:value="${funcionario?.salario}">
        </div>

        <div>
          <label for="nascimento">Data de Nascimento*</label>
          <input class="form-control" type="date" id="nascimento" name="nascimento" required th:value="${funcionario?.nascimento}">
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-sm btn-success"><i class="bi bi-floppy"></i>
            Salvar</button>
          <button type="reset" class="btn btn-sm btn-warning text-light"><i class="bi bi-trash3-fill"></i> Resetar</button>
        </div>
      </form>
    </div>
  </main>
</body>
</html>