<div class="container-fluid" style="max-width: 600px; margin: 0 auto;">

    <div th:if="${files.size() > 0}">
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Nome da Formação</th>
                <th scope="col">Tipo</th>
                <th class="text-center" scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="file : ${files}">
                <td>[[${file.name}]]</td>
                <td>[[${file.tipoCertificado}]]</td>
                <td class="text-center">
                    <a th:href="@{${(file.url + '.' + file.type)}}" title="Baixe este certificado">
                        <i class="bi bi-download"></i>
                    </a>
                    <a th:href="@{'/files/delete/' + ${file.uuidRegistrado}}" th:fileName="${file.uuidRegistrado}" id="btnDelete"
                       title="Delete este certificado" class="fa-regular fa-trash-can icon-dark btn-delete">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:unless="${files.size() > 0}">
        <span style="display:flex;justify-content:center">Nenhum Certificado Registrado</span>
    </div>
</div>

