<form th:object="${propriedade}" action="CadastroPropriedade" method="POST" id="formCadastro">
    <div>
		<input type="hidden" th:field="*{id}" />
		<div class="col col-3 mt-2">
            Tipo Propriedade *
        </div>
      	<div class="col col-4">
            <select th:field="*{tipo}" class="form-control form-control-sm">
                <option th:each="tipoPropriedade : ${T(com.epcafes.enums.TipoPropriedade).values()}"
                    th:text="${tipoPropriedade}" th:value="${tipoPropriedade}">
                </option>
            </select>
        </div>
		<div class="col col-6 mt-2">
        	Nome*
        </div>
        <div class="col col-6 mt-2">
            <input th:field="*{nome}" type="text" class="form-control form-control-sm" 
            placeholder="Propriedade 1" required>
        </div>
        <div class="col col-6 mt-2">
            Telefone
        </div>
         <div class="col col-6">
            <input th:field="*{endereco.telefoneContato}" type="text" class="form-control form-control-sm" 
             pattern="[0-9]+" minlength="9" maxlength="11" placeholder="xx xxxxx-xxxx" required>
        </div>
    </div>
    <div class="col col-6 mt-2">
		CEP
	</div>
	<div class="row pl-3">
		
		<div class="col col-4"> 
        <input th:field="*{endereco.cep}" type="text"  class="form-control form-control-sm"  id="cep" minlength="8" 
       		/>
		</div>
		
		<div class="col col-4"> 
        <a class="btn btn-sm btn-info text-white" onclick="pesquisacep(cep.value);">Buscar</a>
		</div>
	</div>
  	
    
        
        
    <div class="row pl-3">
        <div class="col col-6 mt-2">
            Logradouro*
        </div>
        <div class="col col-2 mt-2">
            Número*
        </div>
        <div class="col col-4 mt-2">
            Complemento
        </div>
         <div class="col col-6">
            <input th:field="*{endereco.logradouro}"  id="logradouro" type="text" class="form-control form-control-sm" 
              required>
        </div>
        
        
         <div class="col col-2">
            <input th:field="*{endereco.numero}" type="text" class="form-control form-control-sm" 
              required>
        </div>
        
        
         <div class="col col-4">
            <input th:field="*{endereco.complemento}" type="text" class="form-control form-control-sm">
        </div>
    </div>
    
    <div class="row pl-3">
        <div class="col col-6 mt-2">
            Bairro *
        </div>
        <div class="col col-4 mt-2">
            Municipio *
        </div>
        <div class="col col-2 mt-2">
            UF *
        </div>
        
         <div class="col col-6">
            <input th:field="*{endereco.bairro}" id="bairro" type="text" class="form-control form-control-sm" 
              required>
        </div>
        
        
         <div class="col col-4">
            <input th:field="*{endereco.localidade}" id="localidade" type="text" class="form-control form-control-sm" 
              required>
        </div>
        
        
         <div class="col col-2">
            <input th:field="*{endereco.uf}" id="uf" type="text" class="form-control form-control-sm" 
              required>
        </div>
     </div>
        <div class="col col-3 mt-2">
            Referencia
        </div>
         <div class="col col-3 mb-3">
            <input th:field="*{endereco.referencia}" type="text" class="form-control form-control-sm" >
        </div>

       
   
    <button type="submit" class="btn btn-sm btn-success"><i class="bi bi-floppy"></i>
        Salvar
    </button>
    <button type="reset" class="btn btn-sm btn-warning text-light"><i class="bi bi-trash3-fill"></i>
        Limpar
     </button>
</form>
