
<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">


<body>
	<main>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Código</th>
					<th scope="col">Tipo</th>
					<th scope="col">Tipo de Máquina/Implemento</th>
					<th scope="col">Máquina</th>
					<th scope="col">Combustivel</th>
					<th scope="col">Potência(CV)</th>
					<th scope="col">Data de Compra</th>
					<th scope="col">Operações</th>

				</tr>
			</thead>
			<tbody>
				<tr data-th-each="maquina : ${maquinas}">
					<td data-th-text="${maquina.id}"></td>
					<td data-th-text="${maquina.tipoInsumo}"></td>
					<td data-th-text="${maquina.tipo}"></td>
					<td data-th-text="${maquina.nome}"></td>
					<td data-th-text="${maquina.tipoCombustivel}"></td>
					<td data-th-text="${maquina.potencia}"></td>
					<td data-th-text="${{maquina.dataCompra}}"></td>
					<td>

						<div class="operacoes-container">
							<a th:href="@{/editarInsumo/{id}(id=${maquina.id})}">Edit</a>

							<a th:href="@{/delete/{id}(id=${maquina.id})}">Del</a>

						</div>


					</td>
				</tr>

			</tbody>
		</table>
	</main>
</body>

</html>