<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">

<body>

	<main>
		<div class="container">
			<h3 class="titulo-pagina">Pesquisa de Funcionários</h3>
			<div class="barra-novo">
				<button type="button" class="btn border rounded" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-plus-circle"></i>
					Novo</button>
			</div>
		</div>
		
		<div class="container mt-3">
			<div class=" p-2 bd-highlight"><a class="btn btn-success" href="/CadastroPropriedade">⟨ Voltar</a></div>
		</div>
		
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Novo Funcionario</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<form class="form" method="post" action="/funcionario">
							<div>
								<label for="nome">Nome* </label>
								<input class="form-control" type="text" id="nome" name="nome" required>
							</div>

							<div>
								<label for="salario">Salário* </label>
								<input class="form-control" type="number" id="salario" name="salario" required>
							</div>

							<div>
								<label for="nascimento">Data de Nascimento*</label>
								<input class="form-control" type="date" id="nascimento" name="nascimento" required>
							</div>

					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-sm btn-success"><i class="bi bi-floppy"></i>
							Salvar</button>
						<button type="reset" class="btn btn-sm btn-warning text-light"><i class="bi bi-trash3-fill"></i> Resetar</button>
					</div>
					</form>
				</div>
			</div>
		</div>

		<div class="modal fade" id="modalNovoCertificado" tabindex="-1" aria-labelledby="modalNovoCertificadoLabel2" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="modalNovoCertificadoLabel">Adicionar Formação</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modal-certificados-novo">

					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel3">Ver Formações</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modal-certificados">

					</div>

				</div>
			</div>
		</div>

		<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel4">Editar Funcionarios</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modal-editar">

					</div>
				</div>
			</div>
		</div>
		<div class="container py-3">
			<table class="table" th:if="${lista != null}">
				<thead class="cabecalho">
					<tr>
						<th class="text-center">Código</th>
						<th class="text-center">Nome</th>
						<th class="text-center">Salário</th>
						<th class="text-center">Nascimento</th>
						<th class="text-center">Idade</th>
						<th class="text-center">Formação</th>
						<th class="text-center">AÇÕES</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="funcionario : ${lista}">
						<td class="text-center" th:text="${funcionario.id}"></td>
						<td class="text-center" th:text="${funcionario.nome}"></td>
						<td class="text-center" th:text="${funcionario.salario}"></td>
						<td class="text-center" th:text="${funcionario.nascimento}"></td>
						<td class="text-center" th:text="${funcionario.getIdade()}"></td>
						<td class="text-center"><a class="btn-options" th:attr="onclick=${'salvarCertificados('+funcionario.id+')'}">
							<i class="bi bi-plus-circle"></i>
						</a>
						<a class="btn-options" th:attr="onclick=${'abrirCertificados('+funcionario.id+')'}">
							<i class="bi bi-search"></i>
						</a></td>
						<div>

						<td class="text-center">
							<a th:method="delete"
							   th:href="@{/funcionario/delete/{id}(id=${funcionario.id})}"
							   class="btn-options"><i class="bi bi-trash3-fill"></i></a>
							<a class="btn-options" th:attr="onclick=${'editarFuncionarios('+funcionario.id+')'}">
								<i class="bi bi-pencil-fill"></i>
							</a>
						</td>
						</div>
					</tr>
				</tbody>
			</table>
			<hr class="featurette-divider" +>
		</div>

		<div class="row justify-content-start align-items-top d-flex pt-3">
			<div class="col col-auto">
				<nav th:if="${qtdPaginas > 1}">
					<ul class="pagination">
						<li class="page-item"><a
								th:class="${currPage == 1} ? 'page-link user-select-none disabled' : 'page-link user-select-none' "
								th:href="@{/funcionario(size=${size}, page=${currPage-1})}"><</a>
						</li>
						<li th:each="pageNumber : ${pageNumbers}" class="page-item"><a
								th:href="@{/funcionario(size=${size}, page=${pageNumber})}"
								th:text=${pageNumber}
								th:class="${pageNumber == currPage} ? 'page-link user-select-none active' : 'page-link user-select-none'"
								href="#"></a></li>
						<li class="page-item"><a
								th:class="${qtdPaginas == currPage} ? 'page-link user-select-none disabled' : 'page-link user-select-none'"
								th:href="@{/funcionario(size=${size}, page=${currPage+1})}">></a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="col col-auto">
				<small class="d-inline">Mostrar:</small>
			</div>
			<div class="col col-auto">
				<form>
					<select class="form-select form-select-sm" id="size" name="size" onchange="submit()">
						<option th:each="qtdPorPagina : ${qtdPorPaginaList}" th:value="${qtdPorPagina}"
								th:text="${qtdPorPagina}" th:selected="${size == qtdPorPagina}"></option>
					</select>
				</form>
			</div>

		<script>
		 function abrirCertificados(id){
        $.ajax({
            url: "funcionario/certificados",
            type: "GET",
            data: {id: id},
            success: function(data){
                document.getElementById("modal-certificados").innerHTML = data;
                $("#exampleModal3").modal("show");
            }
        });
    	}
    	function salvarCertificados(id){
        $.ajax({
            url: "funcionario/upload",
            type: "GET",
            data: {id: id},
            success: function(data){
                document.getElementById("modal-certificados-novo").innerHTML = data;
                $("#modalNovoCertificado").modal("show");
            }
        });
    	}
    	function editarFuncionarios(id){
        $.ajax({
            url: "funcionario/inserir",
            type: "GET",
            data: {id: id},
            success: function(data){
                document.getElementById("modal-editar").innerHTML = data;
                $("#exampleModal4").modal("show");
            }
        });
    	}
		</script>
	</main>

</body>
</html>