<menu class="text-center" style="padding-left: 0;">
	<!-- ========================================================================== -->
	<!-- menu estático - TODO : menu dinâmico                                   	-->
	<!-- ========================================================================== -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<!-- Brand -->
			<a class="navbar-brand" href="#">èpCafé ☕</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- Menu com os itens -->
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="/login">Login G1</a></li>
					<li class="nav-item"><a class="nav-link" href="/register">Register G1</a></li>
          			<li class="nav-item"><a class="nav-link" href="/despesa_insumo_servico">Outras despesas de custeio G3</a></li>
					<li class="nav-item"><a class="nav-link" href="/talhao">Talhão G4</a></li>
					<li class="nav-item"><a class="nav-link" href="/restricted/usuario/UsuarioLogado">Usuários Logados G5</a></li>
					<li class="nav-item"><a class="nav-link" href="/restricted/custo/LancarDespesaMaquina">Lançar Despesas de Máquina G7</a></li>
					<li class="nav-item"><a class="nav-link" href="/custoFixo">Custo Fixo G8</a></li>
				</ul>
			</div>
		</div>
	</nav>
</menu>