<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">
    <body> 
        <div class="container">
                <form th:action="@{/capitalFixo}" th:object="${newCapitalFixo}" method="post">       
                  <h2 class="row1">Cadastro Capital Fixo</h2>
                  	<div class="mb-3">
                    	<label for="valorBemNovo" class="form-label">Valor do Bem Novo:</label>
                    	<input type="text" class="form-control" id="valorBemNovo" name="valorBemNovo" maxlength="80" th:field="*{valorBemNovo}" required>
                    </div>
                    <div class="mb-3">
                    	<label for="taxaDePoupanca" class="form-label">Taxa da Poupança:</label>
                    	<input type="text" class="form-control" id="taxaDePoupanca" name="taxaDePoupanca" maxlength="80" th:field="*{taxaDePoupanca}" required>
                    </div>
                    <div class="mb-3">
                    	<label for="vidaHoras" class="form-label">Vida Útil em Horas:</label>
                    	<input type="text" class="form-control" id="vidaHoras" name="vidaHoras" maxlength="80" th:field="*{vidaHoras}" required>
                    </div>
                    <div class="mb-3">
                    	<label for="vidaAnos" class="form-label">Vida Útil em Anos:</label>
                    	<input type="text" class="form-control" id="vidaAnos" name="vidaAnos" maxlength="80" th:field="*{vidaAnos}" required>
                    </div>
                    <div class="mb-3">
                    	<label for="horasTrabalhadas" class="form-label">Horas Trabalhadas:</label>
                    	<input type="text" class="form-control" id="horasTrabalhadas" name="horasTrabalhadas" maxlength="80" th:field="*{horasTrabalhadas}" required>
                    </div>              
                    <button type="submit">Enviar</button>
            	</form>
        </div>
    </body>
</html>