body,html{
    margin: 10px;
}
.navbar{
    background-color: #f2f5f7 !important;
    
    border-radius: 5px !important;
}
.barra-novo{
    background-color: #deedf7;
    border: 2px solid aed0ea;
    border-radius: 9px;
}
.botoes{
    border-color: blue !important;
    height: 5vh !important;
}
.form-group{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.listagem{
    display: flex;
    justify-content: center;
}
tr{
    text-align: center;
    border:.8px solid black;
}
th{
    background-color: #deedf7;
    padding-left: 1vw;
    padding-right: 1vw;
}
td{
    border: 1px solid aed0ea;
    border-radius: 3px;
}