<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">

<body>
	<main>
		<b>Atenção: </b><br /><br />
		1. Todos devem utilizar o template "TemplateBase.html" em suas páginas;<br />
		2. O menu dinâmico foi criado! Se alguma funcionalidade não aparecer para você, verifique se
		sua role atual é ADMIN<br />
		3. Os scripts em JavaScript e configurações de layout com CSS do sistema devem ser colocados
		respectivamente nos arquivos epcafes.js e epcafes.css;<br />
		4. Os arquivos .css e .js estão sendo carregados no "Include.html".
		<br /><br /><br />
	</main>
</body>

</html>