<html th:replace="~{fragments/TemplateBase :: layout (~{:: main})}">

<body>
	<main>
		<b>Atenção: </b><br /><br />
		1. Todos devem utilizar o template "TemplateBase.html" em suas páginas;<br />
		2. Foi criado um menu fixo até que o dinâmico seja implementado. Portanto,
		todos devem colocar o seu link (end point) da sua funcionalidade no "Menu.html";<br />
		3. Os scripts em JavaScript e configurações de layout com CSS do sistema devem ser colocados
		respectivamente nos arquivos epcafes.js e epcafes.css;<br />
		4. Os arquivos .css e .js estão sendo carregados no "Include.html".
		<br /><br /><br />
	</main>
</body>

</html>