<!doctype html>
<html th:replace="~{fragments/templateFree :: layout (~{:: main})}">

<head>	
	<title>User</title>
</head>

<body>
	<main>
	<div class="container">
		<div class="row mt-5">
			<div class="col-6 mx-auto">
				<h1>User Details</h1>
				<div class="mt-2">Username: <span sec:authentication="principal.username" /></div>
				<div class="mt-2"> Roles: <span sec:authentication="principal.authorities" /></div>

				<div class="mt-5"><a class="link-primary" th:href="@{/epcafes}">Home</a></div>
			</div>
		</div>
	</div>
	</main>
</body>

</html>